<div class="container">
  <div class="row">

    <h1>Log In</h1>
    <br>
    
    <%= simple_form_for :user, url: sessions_path do |f| %>
    <div class="form-group form-group-lg">
      <div class="col-xs-6">
        <div class="field">
         <h4><%= f.input :email %></h4>
        </div>
        <div class="field">
          <h4><%= f.input :password %></h4>
        </div>
        <div class="actions">
          <%= f.button :submit, "Sign In", class: "btn-primary"  %>
        </div>
      </div>
    </div>
    
    <% end %>
  </div>
</div>