<head>
  <% provide(:title, "About") %>
</head>

<div class="home-about">
  <h1>About</h1>

  <p>The goal of this image generator is to display random photos of cats!  The user can enter a given number of photos in the url (ex: '/cat-pictures/5') and that many photos of cats will appear on the page.  Enjoy!

  <p>Find me in app/views/static/about.html.erb</p>
</div>
