<head>
  <% provide(:title, "About") %>
</head>
<div class="container">
  <div class="row">

    <div class="home-about">
      <h1>About</h1>

      <p>The goal of this image generator is to display random photos of cats!  The user can enter a given number of photos in the url (ex: '/cat-pictures/5') and that many photos of cats will appear on the page. </p>

      <p>The Pokemon Database enables the user to submit a Pokemon including its name, number, breed (type), and tier.  The database displays all entries so the user can refer to it later. </p>

      <p>Enjoy!</p>

    </div>
  </div>
</div>
