<head>
  <% provide(:title, "Cat Pics") %>
</head>

<div class="container">
  <div class="row">
    <% @cats.each do |cat| %>
      <img src="<%= cat.url %>" alt="Cat pic">
    <% end %>
    
  </div>
</div>


