<head>
  <% provide(:title, "Home") %>
</head>

<div class="home-about">
  <h1>Home</h1>
  <p>Welcome to the Cat Picture Generator!  Click the links below to get started.</p>


  <p>Find me in app/views/static/home.html.erb</p>
</div>
