$black: black;
$red: red;
$gray: #ccc; 
$helvetica: Helvetica, sans-serif;

$breed-fairy-color: #EE82EE;
$breed-ground-color: #E0A366;
$breed-rock-color: #663300;
$breed-bug-color: #9ACD32;
$breed-poison-color: #663399;
$breed-psychic-color: #9900CC;
$breed-electric-color: #CCA300;
$breed-steel-color: #6D6D6D;
$breed-flying-color: #9EBFFF;
$breed-fire-color: red;
$breed-water-color: blue;
$breed-grass-color: green;
$breed-dragon-color: navy;
$breed-ice-color: aqua;
$breed-fighting-color: maroon;
$breed-ghost-color: purple;
$breed-normal-color: silver;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "database/pokemons";
@import "bootstrap/sessions";
@import "bootstrap/static";
@import "bootstrap/lists-links";