.db {

  td,th {
    padding-right: 10px;
    padding-bottom: 5px;
  }

  #FE {
    text-align: center;
  }

  .breed-fire {
    color: red;
  }
  .breed-grass {
    color: green;
  }
  .breed-water {
    color: blue;
  }
  .breed-fairy {
    color: #EE82EE; /* Violet */
  }
  .breed-dark {
    color: black;
  }
  .breed-steel {
    color: gray;
  }
  .breed-ground {
    color: tan;  /* Tan */
  }
  .breed-rock {
    color: #663300; /* Dark Brown */
  }
  .breed-dragon {
    color: navy;
  }
  .breed-bug {
    color: #9ACD32; /* Yellow-Green */
  }
  .breed-psychic {
    color: purple;
  }
  .breed-electric {
    color: yellow;
  }
  .breed-ice {
    color: aqua;
  }
  .breed-flying {
    color: silver;
  }
  .breed-fighting {
    color: maroon;
  }
  .breed-ghost {
    color: purple; 
  }
  .breed-poison {
    color: #663399; /* Rebecca Purple */
  }
}

