$violet: #EE82EE;
$tan: #E0A366;
$dark-brown: #663300;
$yellow-green: #9ACD32;
$rebecca-purple: #663399;
$lavender: #DA99CA;

.db {

  td,th {
    padding-right: 10px;
    padding-bottom: 5px;
  }

  #FE {
    text-align: center;
  }

  .breed-fire {
    color: red;
  }
  .breed-grass {
    color: green;
  }
  .breed-water {
    color: blue;
  }
  .breed-fairy {
    color: $violet; /* Violet */
  }
  .breed-dark {
    color: black;
  }
  .breed-steel {
    color: gray;
  }
  .breed-ground {
    color: $tan; 
  }
  .breed-rock {
    color: $dark-brown; /* Dark Brown */
  }
  .breed-dragon {
    color: navy;
  }
  .breed-bug {
    color: $yellow-green; /* Yellow-Green */
  }
  .breed-psychic {
    color: $lavender;
  }
  .breed-electric {
    color: yellow;
  }
  .breed-ice {
    color: aqua;
  }
  .breed-flying {
    color: silver;
  }
  .breed-fighting {
    color: maroon;
  }
  .breed-ghost {
    color: purple; 
  }
  .breed-poison {
    color: $rebecca-purple; /* Rebecca Purple */
  }
}

